---
layout: page
title: Category
subtitle: Do something you like.
---

{% for category in site.categories %}<!-- 开始遍历 -->
{% capture cat %}{{ category | first }}{% endcapture %}

<h2>{{ cat | capitalize }}</h2><!-- 标题category -->
	<ul>
	{% for post in site.categories[cat] %} 
	<!-- 又一层遍历，寻找这个category下的文章-->
	  <li>
	  <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	     <span class="date"> - {{ post.date | date_to_long_string }}</span></p>
	  </li>
	{% endfor %}
	</ul>

{% endfor %}
