---
layout: page
title: Tags
subtitle: Keep Calm and Carry On.
---

<!-- 上方的标签 -->
<section class="post-tags">
    {% assign tags_list = site.tags %}
    
    {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    <a class="post-tags-item" href="#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    {% else %}
    {% for tag in tags_list %}
    <a class="post-tags-item" href="#dir{{ forloop.index0 }}">{{ tag[0] }}</a>
    {% endfor %}
    {% endif %}
    
    {% assign tags_list = nil %}

</section>

<hr>
<!--文章列表 -->

    {% for tag in site.tags  %}
    <h2 id="dir{{ forloop.index0 }}">{{ tag[0] | capitalize }}</h2><!-- 每个tag做标题 -->
    <!--id="{{ tag[0] | capitalize }}" //  dir0 dir1 锚点问题 产生的不对 id='{{ tag[0] | slugify }}'-->
    <!-- tags是一个数组，每个数组还有两个元素 第一个是tag名字第二个是该tag下的文章，也是一个数组需要遍历 -->
    <ul>
        {% assign pages_list = tag[1] %}
        {% for post in pages_list reversed %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
        <li>
		    <p><a href="{{ post.url | prepend: site.baseurl }}">
			    {{ post.title }}</a><span class="date"><time datetime="{{ post.date | date_to_long_string }}"> - {{ post.date | date_to_long_string }}</time></span></p>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>
    {% endfor %}
